
*{   font-family: 'Poppins', sans-serif;
}
.greeting{
    text-align: center;
}
.greeting span{
    color: #008329;
}

.one{

    height: 200vh;
    background-color:#F2F2F2;
    color: black;
    position: relative;
   
}
.two{
    width: 50%;
    height: 190vh;
    background-color: white;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    align-items: center;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.p1{
    
}
.btn{
    width: 400px;
    background-color:#008329;
}

.p2{
    margin-top: 100px;
}

label{
    font-size: 25px;
    padding-right: 20px;
}

select{
    /* background-color: gray; */
    font-size: 20px;
    width: 300px;
    height: 40px;
    padding-left: 30px;
    border: 1px solid gray;
    outline: none;
}
textarea{
    font-size: 20px;
    width: 300px;

    padding-left: 10px;
    border: 1px solid gray;
    outline: none;
}
input{
    font-size: 20px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid gray;
    outline: none;
}
table{  
    width: 100%;
    position: relative;
    left: 50%;
    height: 200px;
    margin-top: 4%;
    margin-bottom: 4%;
    transform: translate(-50%);
    text-align: center;
}

form h5{
    color: green;
}