<app-header-of-deshboard></app-header-of-deshboard>
<div class="greeting">
    <h2>Welcome <span>{{name}}</span></h2>

</div>
<div class="one">
    <div class="two">
        <p class="p1">Put Your Details: </p>
          <form #f="ngForm" ngNativeValidate>
            <table>
              <tr>
       
              <td><label for="category">Choose Category:</label></td>
                  <td>
                    <select  name="category" id="category" #cat>

                      <option class="dropdown-item" value="fullstack">Fullstack Developer</option>
                      <option value="android">Android Developer</option>
                      <option value="apple">Apple Developer</option>
                      <option value="software">Software Developer</option>
                    </select>
                  </td>
             
            
          </tr>
           <tr>
             <td>
              <label for="year">Year Of Experience:</label> 
             </td>
             <td>
              <select  name="year" id="year" #exp>
                <option value="1">1</option>
                <option value="2" [value]="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="more than 5">More than 5 year</option>
              </select>

             </td>
           </tr>

           <tr>
             <td><label for="degree">Which University Degree:</label> </td>
             <td>
              <select  name="degree" id="degree" #deg>
              <option value="btech">Btech</option>
              <option value="mtech">Mtech</option>
              <option value="mba">MBA</option>
              <option value="bsc">Bsc</option>
              <option value="bca">Bca</option>
  
            </select>
             </td>
           </tr>
              
             
            </table>
            <button type="submit" class="btn btn-success" (click)="save(cat.value,exp.value,deg.value)" >Save</button>
          </form>
    </div>
</div>

<app-mainpage-footer></app-mainpage-footer>