<div class="one">
    <div class="two">
        <p class="p1">Get your free account</p>
          <form #f="ngForm" ngNativeValidate>
            <div class="form-group">
              <input type="name" class="form-control" [(ngModel)]="nameProp" [ngModelOptions]="{standalone: true}" placeholder="FullName" id="name" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control"  [(ngModel)]="emailProp" [ngModelOptions]="{standalone: true}" placeholder="Email" id="email" required>
              </div>
              <div class="form-group">
                <input type="mobileNo" class="form-control"  [(ngModel)]="mobileNoProp" [ngModelOptions]="{standalone: true}" placeholder="Mobile Number" id="mobNo">
              </div>
            <div class="form-group">
              <input type="password" [(ngModel)]="passwordProp"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password" id="pwd" required>
            </div>
            <div class="form-group">
                <input type="confirmPassword" class="form-control"  [(ngModel)]="confirmPassProp" [ngModelOptions]="{standalone: true}" placeholder="Confirm Password" id="confirmPwd">
              </div>
            <button type="submit" class="btn btn-success" (click)="signUP()" >Register</button>
          </form>
    </div>
</div>

