<div class="one">
    <div class="two">
        <p class="p1">Get your free account</p>
          <form>
            <div class="form-group">
              <input type="name" class="form-control" placeholder="FullName" id="name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" id="email">
              </div>
              <div class="form-group">
                <input type="mobileNo" class="form-control" placeholder="Mobile Number" id="mobNo">
              </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" id="pwd">
            </div>
            <div class="form-group">
                <input type="confirmPassword" class="form-control" placeholder="Confirm Password" id="confirmPwd">
              </div>
            <button type="submit" class="btn btn-success" >Register</button>
          </form>
    </div>
</div>
