*{
    font-family: 'Poppins', sans-serif;
}
.one{

    height: 100vh;
    background-color:#F2F2F2;
    color: black;
    position: relative;
   
}
.two{
    width: 550px;
    height: 90vh;
    background-color: white;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.p1{
    margin-top: 50px;
}
.btn{
    width: 400px;
    background-color:#008329;
}
#name{
    width: 400px;
    margin-left: 75px;
}
#email{
    width: 400px;
    margin-left: 75px;
}
#mobNo{
    width: 400px;
    margin-left: 75px;
}
#pwd{
    width: 400px;
    margin-left: 75px;
}
#confirmPwd{
    width: 400px;
    margin-left: 75px;
}
.p2{
    margin-top: 100px;
}

span{
    color: red;
    font-size: 15px;
}
