<div class="accessibilityDetails">
    <h2>Accessibility</h2>
<p>
    Freelancing is committed to providing an accessible experience to our customers and the public, regardless of
    background, nationality, race, ethnicity, gender, gender identity, sexual orientation, disability status,
    veteran status, or other similarly protected characteristics. This Freelancing Digital Accessibility Statement 
    concerns our commitment to providing access to persons with disabilities. Please also see our 
    Nondiscrimination Statement.Please contact our Accessibility Coordinator at 
    accessibilitycoordinator@Freelancing.com or send a letter addressed to: Attn: Accessibility
    Coordinator, 2625 Augustine Drive, Suite 601, Santa Clara, CA 95054, USA, to learn more about 
    accessibility support services Freelancing.
</p>
<p>
    Individuals who need a reasonable accommodation to access Freelancing’s services and information should send 
    an email to accessibilitycoordinator@Freelancing.com or send a letter addressed to: Attn: Accessibility 
    Coordinator, 2625 Augustine Drive, Suite 601, Santa Clara, CA 95054, USA to provide information about
    the nature of the requested accommodation. Requesters must include contact information such as an email 
    address or telephone number at which they can be reached. Depending on the nature of the request, Freelancing
    may need sufficient notice to provide a reasonable accommodation.
</p>
</div>