<header>
    <div class="left-nav">
        <div class="logo" routerLink="/mainpage/home">
            <h2><span>Free</span><span style="color: #018328;">lancing</span></h2>
        </div>
    </div>

    <div class="right-nav">
        <div  class="toggle-button" (click)="toggle()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
    
        </div>
    
            <ul class="item">
               <li class="lnk" (click)="gotoHome()">HOME</li>
               <!--   <li class="lnk" routerLink="/mainpage/contact">CONTACT</li> -->
                <!-- <li class="lnk" routerLink="/signin">Logout</li> -->
                <li ><button (click)="logout()">Logout</button></li>
            </ul>
    </div>
</header>
