<div class="PPDetails">
    <h2>Privacy Policy</h2>
<p>
    Freelancing Global Inc. (“Freelancing”) provides this Privacy Policy to let you know our policies and procedures
    regarding the collection, use and disclosure of information through www.freelancing.com (the “Site”), and 
    any other websites, features, applications, widgets or online services that are owned or controlled by 
    Freelancing and that post a link to this Privacy Policy (together with the Site, the “Service”), as well as 
    any information Freelancing collects offline in connection with the Service. It also describes the choices
    available to you regarding the use of, your access to, and how to update and correct your personal 
    information. This Privacy Policy incorporates by reference the Freelancing Global Data Processing Agreement.
    Note that we combine the information we collect from you from the Site, through the Service generally,
    or offline.
</p>
<p>
    We’ve provided short summaries in this Privacy Policy to help you understand what information we collect,
    how we use it, and what choices or rights you may have. While these summaries help explain some of these
    concepts in a simple and clear way, we encourage you to read the entire Privacy Policy to understand our
    data practices.
</p>
</div>