.PPDetails{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}
.PPDetails h2{
    font-weight: bolder;
    color: black;
    margin-left: 30px;
}
.PPDetails p{
    margin-left: 30px;
}