<div class="main-container">

    <div class="img-container">
        <div class="img-text animate__animated animate__backInLeft">
            <h2>Get ready to Work :)</h2>
            <h3>Get your talent & <br> Put your talent</h3>
            <p>Expertly connects professionals and agencies to<br>businesses seeking specialized talent.</p>
            <button class="getstarted-btn">Get Started</button>
        </div>
        <img  class="animate__animated animate__backInDown img" src="../../assets/component.png"  alt="">
    </div>

    <div class="card-container">
        <h3>Find quality talent or agencies</h3>
        <div class="cards">
            <div class="item">
                <img src="../../assets/web.svg" alt="">
                <h6>Web, Mobile & Software Dev</h6>
            </div>
            <div class="item">
                <img src="../../assets/writing.svg" alt="">
                <h6>Writing</h6>
            </div>
            <div class="item">
                <img src="../../assets/design&creative.svg" alt="">
                <h6>Designing & Creative</h6>
            </div>
            <div class="item">
                <img src="../../assets/engAndArch.svg" alt="">
                <h6>Engineering & Architecture</h6>
            </div>
            <div class="item">
                <img src="../../assets/datascience.svg" alt="">
                <h6>Data Science & Analytics</h6>
            </div>
            <div class="item">
                <img src="../../assets/salesAndMarketing.svg" alt="">
                <h6>Sales & Marketing</h6>
            </div>
        </div>
    </div>
    
</div>