<div class="main-container">

    <div class="img-container">
        <div class="img-text animate__animated animate__backInLeft">
            <h2>Get ready to Work :)</h2>
            <h3>Get your talent & <br> Put your talent</h3>
            <p>Expertly connects professionals and agencies to<br>businesses seeking specialized talent.</p>
            <button class="getstarted-btn" routerLink="/signup">Get Started</button>
        </div>
        <img  class="animate__animated animate__backInDown img" src="../../assets/component.png"  alt="">
    </div>
    <div>
        <img class="imgAboveCardContainer" src="../../assets/free.png" alt="">
        <div class="divOnImage"><span>You can find any</span><br> developer here.</div>
    </div>

    <div class="card-container">
        <h3>Find quality talent or agencies</h3>
        <div class="cards">
            <div class="item" (click)="sendMsg('web android apple fullstack software')">
                <img src="../../assets/web.svg" alt="">
                <h6>Web, Mobile & Software Dev</h6>
            </div>
            <div class="item" (click)="sendMsg('writing')">
                <img src="../../assets/writing.svg" alt="">
                <h6>Writing</h6>
            </div>
            <div class="item" (click)="sendMsg('design creative')">
                <img src="../../assets/design&creative.svg" alt="">
                <h6>Designing & Creative</h6>
            </div>
            <div class="item" (click)="sendMsg('engineering architecture')">
                <img src="../../assets/engAndArch.svg" alt="">
                <h6>Engineering & Architecture</h6>
            </div>
            <div class="item" (click)="sendMsg('datascience')">
                <img src="../../assets/datascience.svg" alt="">
                <h6>Data Science & Analytics</h6>
            </div>
            <div class="item" (click)="sendMsg('sales')">
                <img src="../../assets/salesAndMarketing.svg" alt="">
                <h6>Sales & Marketing</h6>
            </div>
        </div>
    </div>
    <hr class="lineBelowCardContainer">
    <div class="divBelowCardContainer">
        How it works
       <div class="register">
           <img class="registerImg" src="../../assets/reg.svg" alt="">
           <h5>Register yourself</h5><br>
           <h6>Developers first register yourself(SignUp) Then SignIn and fill your details.<br>
               Clients visit our website , search developer and contact.
        </h6>
       </div>
       <div class="collaborate">
           <img class="collabImg" src="../../assets/collab.svg" alt="">
           <h5>Collaborate easily</h5><br>
           <h6>Use freelancing to chat or video call, share files, and track project milestones from your desktop or mobile.</h6>
       </div>
       <div class="payment">
           <img class="payImg" src="../../assets/pay.svg" alt="">
           <h5>Payment simplified</h5><br>
           <h6>Pay hourly or fixed-price and receive invoices through Upwork. Pay for work you authorize..</h6>
       </div>
   </div>
</div>
<router-outlet></router-outlet>