<div class="one">
    <div class="two">
        <p class="p1">Log in and get to work </p>
          <form ngNativeValidate #f="ngForm">
            <div class="form-group" >
              <input type="email" class="form-control"  [(ngModel)]="emailProp" [ngModelOptions]="{standalone: true}" placeholder="Username or Email" id="email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control"  [(ngModel)]="passwordProp" [ngModelOptions]="{standalone: true}" placeholder="Password" id="pwd" required>
            </div>
            <button type="submit" class="btn btn-success" (click)="signin()" >Continue</button>
          </form>
          <div class="form-group">
          <p class="p2">New User</p>
          <button  routerLink="/signup" type="submit" class="btn btn-success" id="signup" >Sign Up</button>
        </div>
    </div>
</div>
