*{
    font-family: 'Poppins', sans-serif;
}
.one{

    height: 100%;
    background-color:#F2F2F2;
    color: black;
    position: relative;
    padding: 5%;
   
}
.two{
    width: 550px;
    /* height: 500px; */
    background-color: white;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    padding-top: 5%;
    padding-bottom: 5%;
}
.p1{
    /* margin-top: 50px; */
}
.btn{
    width: 400px;
    background-color:#008329;
}
#email{
    width: 400px;
    margin-left: 75px;
}
#pwd{
    width: 400px;
    margin-left: 75px;
}
.p2{
    margin-top: 4%;
    font-size: 25px;
}
#signup{
    background-color: white;
    color: green;
}
span{
    color: red;
    font-size: 15px;
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}