<div class="one">
    <div class="two">
        <div class="white-div">
          <p class="p1">Log in and get to work </p>
          <form ngNativeValidate #userForm="ngForm">
            <div class="form-group" >
              <input  #emailRef="ngModel" type="email" class="form-control"  [(ngModel)]="emailProp" name="email" placeholder="Email" id="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
              <span *ngIf="emailRef.touched && emailRef.invalid" > this is a required field </span>
              <div *ngIf="emailRef.errors">
                <span *ngIf="emailRef.touched && emailRef.errors.pattern" >Enter vaild email</span>
              </div>
            </div>
            <div class="form-group">
              <input #passRef="ngModel" type="password" class="form-control"  [(ngModel)]="passwordProp" name="pwd" placeholder="Password" id="pwd" required>
              <div *ngIf="passRef.errors">

                <span *ngIf="passRef.touched && passRef.errors.required" > this a required field </span>
                <span *ngIf="passRef.touched && passRef.errors.minlength" > minimum length should be {{passRef.errors.minlength.requiredLength}} charcters </span>
                <span *ngIf="passRef.touched && passRef.errors.pattern" >at least one letter, one number and one special character</span>
    
            </div>
            </div>
            <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-success" (click)="signin()" >Continue</button>
          </form>
          <div class="form-group">
          <p class="p2">New User</p>
          <button  routerLink="/mainpage/signup"  type="submit" class="btn btn-success" id="signup" >Sign Up</button>
        </div>
        </div>
    </div>
</div>






