<div class="footer-container">
    <div class="heading">
    <p>Looking to hire for long-term or full-time assignments?</p>
    <hr class="line1">
    </div>
    <div class="company">
        <h5>COMPANY</h5>
        <p routerLink="/aboutUs">About Us</p>
        <p routerLink="/termsOfService">Terms of Service</p>
        <p routerLink="/privacyPolicy">Privacy Policy</p>
        <p routerLink="/accessibility">Accessibility</p>
    </div>
    <div class="resources">
        <h5>RESOURCES</h5>
        <p routerLink="/resources" >Resources</p>
        <p routerLink="/customerSupport">Customer Support</p>
        <p routerLink="/customerStories">Customer Stories</p>
        <p routerLink="/businessResources">Business Resources</p>
    </div>
    <div class="browse">
        <h5>BROWSE</h5>
        <p routerLink="/freelancersBySkill" >Freelancers by Skill</p>
        <p routerLink="/findDevelopers">Find Developers</p>
    </div>
</div>