<div class="footer-container">
    <div class="heading">
    <p>Looking to hire for long-term or full-time assignments?</p>
    <hr class="line1">
    </div>
    <div class="part-div">
    <div class="company">
        <h5>COMPANY</h5>
        <p routerLink="/mainpage/aboutUs">About Us</p>
        <p routerLink="/mainpage/termsOfService">Terms of Service</p>
        <p routerLink="/mainpage/privacyPolicy">Privacy Policy</p>
        <p routerLink="/mainpage/accessibility">Accessibility</p>
    </div>
    <div class="resources">
        <h5>RESOURCES</h5>
        <p routerLink="/mainpage/resources" >Resources</p>
        <p routerLink="/mainpage/customerSupport">Customer Support</p>
        <p routerLink="/mainpage/customerStories">Customer Stories</p>
        <p routerLink="/mainpage/businessResources">Business Resources</p>
    </div>
    <div class="browse">
        <h5>BROWSE</h5>
        <!-- <p routerLink="/mainpage/freelancersBySkill" >Freelancers by Skill</p> -->
        <p routerLink="/searchResult">Find Developers</p>
    </div>
        </div>
</div>