<div class="tosDetails">
    <h2>User Agreement</h2>
<p>
    PLEASE READ THIS USER AGREEMENT AND ALL OTHER AGREEMENTS AND POLICIES REFERENCED HEREIN COLLECTIVELY 
    DEFINED BELOW AS THE "TERMS OF SERVICE" CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR
    LEGAL RIGHTS, REMEDIES, AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS AND A BINDING 
    ARBITRATION AGREEMENT AND CLASS ACTION WAIVER.
</p>
<p>
    This User Agreement (this “Agreement”) is a contract between you (“you” or “User”) Upwork Global Inc.
    (“Freelancing,” “we,” or “us”) and our affiliates Upwork Escrow Inc. (“Freelancing Escrow”) and, to the 
    extent expressly stated, Elance Limited ("Elance Ltd."). You must read, agree to, and accept all of the 
    terms and conditions contained in this Agreement to be a User of our website located at www.upwork.com or 
    any part of the rest of the Site (defined in the Site Terms of Use) or the Site Services (defined in the 
    Site Terms of Use).
</p>
<p>
    This Agreement includes and hereby incorporates by reference the following important agreements, as they
    may be in effect and modified from time to time: Site Terms of Use; Fee and ACH Authorization Agreement; 
    Cookie Policy; Privacy Policy; Mark Use Guidelines; Freelancer Membership Agreement; Proprietary Rights 
    Infringement Reporting Procedures; Upwork App Software License Agreement; API Terms of Use; and the escrow
    instructions as applicable to any Service Contract you enter into with another User, specifically the 
    Hourly, Bonus, and Expense Payment Agreement with Escrow Instructions; and Fixed-Price Escrow
    Instructions. This Agreement also incorporates, for any User using the Upwork Direct Contract Service,
    Upwork Direct Contract Terms and Direct Contract Escrow Instructions. These agreements are collectively,
    with this Agreement, called the “Terms of Service”.
</p>
<p>
    Subject to the conditions set forth herein, Upwork may, in its sole discretion, amend this Agreement and
    the other Terms of Service at any time by posting a revised version on the Site. Upwork will provide 
    reasonable advance notice of any amendment that includes a Substantial Change (defined below), by posting
    the updated Terms of Service on the Site, providing notice on the Site, and/or sending you notice by 
    email. If the Substantial Change includes an increase to Fees charged by Upwork, Upwork will provide at 
    least 30 days’ advance notice of the change, but may not provide any advance notice for changes resulting
    in a reduction in Fees or any temporary or promotional Fee change. Any revisions to the Terms of Service
    will take effect on the noted effective date (each, as applicable, the “Effective Date”).
</p>
<p>
    YOU UNDERSTAND THAT BY USING THE SITE OR SITE SERVICES AFTER THE EFFECTIVE DATE, YOU AGREE TO BE BOUND 
    BY THE TERMS OF SERVICE, INCLUDING THE ARBITRATION PROVISION IN SECTION 14 OF THIS AGREEMENT (SUBJECT TO
    YOUR RIGHT TO OPT OUT OF THE ARBITRATION PROVISION AS PROVIDED IN SECTION 14). IF YOU DO NOT ACCEPT THE 
    TERMS OF SERVICE IN ITS ENTIRETY, YOU MUST NOT ACCESS OR USE THE SITE OR THE SITE SERVICES AFTER THE
    EFFECTIVE DATE EXCEPT AS PERMITTED BY THE SITE TERMS OF USE.
</p>
<p>
    IF YOU AGREE TO THE TERMS OF SERVICE ON BEHALF OF AN ENTITY OR AGENCY, OR IN CONNECTION WITH PROVIDING 
    OR RECEIVING SERVICES ON BEHALF OF AN ENTITY OR AGENCY, YOU REPRESENT AND WARRANT THAT YOU HAVE THE
    AUTHORITY TO BIND THAT ENTITY OR AGENCY TO THE TERMS OF SERVICE AND AGREE THAT YOU ARE BINDING BOTH 
    YOU AND THAT ENTITY OR AGENCY TO THE TERMS OF SERVICE. IN THAT EVENT, “YOU” AND “YOUR” WILL REFER AND
    APPLY TO YOU AND THAT ENTITY OR AGENCY.
</p>
</div>