<app-mainpage-header></app-mainpage-header>

<div class="main-div">
    <div class="center-div">
        <div class="title-div">
            
           <div class="img-div">
            <img [src]="imgSource" alt="">
           </div>
           <div class="name-div">
            <h3>{{nameProp}}</h3>
           <div class="main-location">
            <div class="locicon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="loctext"> <h4>{{locProp}}</h4></div>
           </div>
           </div>
        </div>
        <div class="center-bottom">
            <div class="left-div">
                <h4>Stats</h4>
                <div class="stats">
                    <div class="row">
                        <div class="col">
                            <h5>0k</h5>
                            <p>total earning</p>
                        </div>
                        <div class="col">
                            <h5>0</h5>
                            <p>Total Jobs</p>
                        </div>
                        <div class="col">
                            <h5>0</h5>
                            <p>Total hour</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="available">
                    <h4>Availability</h4>
                    <h5>Available</h5>
                    <p>More than 30 hrs/week <br>
                        < 24 hrs response time</p>
                </div>
                <!-- <div class="send-email">
                    <h4>Send Email</h4>
                    <form #f=ngForm class="">
                        <div class="form-group">
                            <label for="email">Your Email: </label>
                            <input type="email" class="form-control" [(ngModel)]="clientemail" [ngModelOptions]="{standalone: true}" placeholder="Enter your email" id="email">           
                        </div>
                       <div class="form-group">
                        <label for="emailsubject">Email Subject: </label>
                        <input type="text" class="form-control" [(ngModel)]="emailsubject" [ngModelOptions]="{standalone: true}" placeholder="Write Subject" id="emailsubject">
                       </div>
                       <div class="form-group">
                        <label for="emailcontent">Email Content: </label>
                        <input type="text" class="form-control" [(ngModel)]="emailcontent" [ngModelOptions]="{standalone: true}" placeholder="Body of email" id="emailcontent">
                       </div>
                       <button type="submit" class="btn btn-primary " (click)=sendEmail()>Submit</button>
                    </form>
                </div> -->
            </div>
        <div class="part-hr"></div>
            <div class="right-div">
                <div class="right-div-title">
                    <h1 class="title-text">{{titleProp}}</h1>
                    <h3>{{rateProp}} /hour</h3>
                </div>
                <hr>
                <div class="discription">
                    <h4>Discription</h4>
                    <p>{{disProp}}</p>
                </div>
                <div class="education">
                    <h4>Education</h4>
                    <h5>University:  &nbsp; {{UnameProp}}</h5>
                    <h5>Degree:  &nbsp; {{degreeProp}}</h5>
                </div>
                <div class="skills">
                    <h4>Skills</h4>
                    <ul *ngFor="let i of skillsArr;">
                        <li> {{i}}</li>
                    </ul>
                </div>
                <h4 id="contact-text">Contact & Social media</h4>
                <div class="email-id">
                <h5>Email: &nbsp; {{emailProp}}</h5>
                </div>
                <div class="contact">
                  
                    <a [href]="instaUrl" class="ainsta">  <div class="insta"> <i class="fa fa-instagram" aria-hidden="true"></i></div> </a>
                    <a [href]="facebookUrl">  <div class="facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></div> </a>
                    <a [href]="twitterUrl">  <div class="twitter"> <i class="fa fa-twitter " aria-hidden="true"></i></div> </a>
                </div>
               
            </div>

        </div>
    </div>

</div>

<!-- <app-mainpage-footer></app-mainpage-footer> -->



<!-- <div>
<h1>Name: {{nameProp}}</h1>
<h2>email: {{emailProp}}</h2>
<h3>Category: {{categoryProp}}</h3>
<h3>Experience: {{experienceProp}}</h3>
<h3>Degree:{{degreeProp}}</h3>
<h3>rate:{{rateProp}}</h3>
<h3>Language:{{lanProp}}</h3>
<h3>Location:{{locProp}}</h3>
<h3>Title:{{titleProp}}</h3>
<h3>Discription:{{disProp}}</h3>
</div> 
</div> -->
