<div class="aboutHead">ABOUT US</div>
<div class="aboutDetails">
    <h1>Our story</h1>
    <p>
       The Upwork story begins over two decades ago when the tech lead of a Silicon Valley startup realized
       his close friend in Athens would be perfect for a web project. The team agreed he was the best choice, 
       but were concerned about working with someone halfway around the globe. <br><br>
       The team agreed he was the best choice, but were concerned about working with someone halfway around 
       the globe.
    </p>
    <h1>A better way of working remotely</h1>
    <p>
        In response, the two friends created a new web-based platform that brought visibility and trust to
        remote work. It was so successful the two realized other businesses would also benefit from reliable 
        access to a larger pool of proven talent, while workers would enjoy freedom and flexibility to find
        jobs online. Together they decided to start a company that would deliver on the promise of this
        technology. Fast-forward to today, that technology is the foundation of Upwork — the leading 
        flexible talent solution. With millions of jobs posted on Upwork annually, independent
        professionals are earning money by providing companies with over 5,000 skills across more than 
        70 categories of work.
    </p>
    <h1>A world of opportunities</h1>
    <p>Through Upwork, businesses get more done, connecting with proven professionals to work on projects
        from web and mobile app development to SEO, social media marketing, content writing, graphic design,
        admin help and thousands of other projects. Upwork makes it fast, simple, and cost-effective to find,
        hire, work with, and pay the best professionals anywhere, any time.
    </p>
</div>
