

<header>
    <div class="left-nav">
        <div class="logo">
            <h2><span>Free</span><span style="color: #018328;">lancing</span></h2>
        </div>
    </div>

    
    <div class="right-nav">
        <div  class="toggle-button" (click)="toggle()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
    
        </div>
    
            <ul class="item">
                <li class="lnk" routerLink="/home">HOME</li>
                <li class="lnk" routerLink="/contact">CONTACT</li>
                <li class="lnk" routerLink="/login">LOGIN</li>
                <li><button  routerLink="/login">SIGN UP</button></li>
            </ul>
    </div>
   
</header>
